/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* Header style*/
header h1{

    font-size: 50px;
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
/* Nav bar*/
header nav{
    font-size: 50px;
    margin-left: 20px;
    padding: 10px;
}
.home{
    background-color: cyan;
    margin-left: 5px;
    
}
.about{
    background-color: cyan;
    margin-left: 5px;
}
.contact{
    background-color: cyan;
    margin-left: 5px;
}
.projects{
    background-color: cyan;
    margin-left: 5px;
}
/* Hover */ 
.home:hover{
    background-color: LIGHTBLUE;

}
.about:hover{
    background-color: LIGHTBLUE;

}
.contact:hover{
    background-color: LIGHTBLUE;

}
.projects:hover{
    background-color: LIGHTBLUE;

}
/*  section styles */
.section1{
    display: flex;
    background-color: CYAN;
    border: 10px solid black;
    
}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
}
/* image styles */ 
.mainpic img {
    padding: 0px;
    width: 400px;
    height: 400px;
    
}
/* Text */
.mainbio{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}
.mainbio h2{
    font-size: 60px;
}
.mainbio h3{
    font-size: 50px;
}
.mainbio p{
    font-size: 30px;
}
/* Footer*/
.footer{
    text-align: center;
}

.footer h2{
    font-size: 30px;
    
}
button {
    background-color: CYAN;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
  }